* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #432f70;
}

.decoration {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.balloon{
    position: absolute;
    height: inherit;
    width: 90vw;
    top: -2%;
    
}

.balloon-left {
    left: -45%;
    background-image: url("../resources/img/SVG/Asset\ 4.svg");
    background-size: 100%;
    background-position: top right;
    content: ".";
    background-repeat: no-repeat;
}

.balloon-right {
    right: -45%;
    background-image: url("../resources/img/SVG/Asset\ 6.svg");
    background-size: 100%;
    background-position: top left;
    content: ".";
    background-repeat: no-repeat;
}

.flag {
    position: absolute;
    height: inherit;
    width: 65vw;
    top: 20%;
}

.flag-left {
    left: -10%;
    background-image: url("../resources/img/SVG/Asset\ 2.svg");
    background-size: 100%;
    content: ".";
    background-repeat: no-repeat;

}

.flag-right {
    right: -10%;
    background-image: url("../resources/img/SVG/Asset\ 5.svg");
    background-size: 100%;
    content: ".";
    background-repeat: no-repeat;

}

.frame {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}

.img-back {
    position: relative;
    background-color: #ffa8dc;
    height:60vw;
    width: 60vw;
    border-radius: 50%;
    text-align: center;
}

.bd-pic {
    position: absolute;
    height: 50vw;
    width: 50vw;
    border-color: #fff;
    border-style: dotted;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}

.cap {
    position: absolute;
    height: 20vw;
    top: -15%;
    left: 50%; 
    transform: translate(-90% -90%) ;
    z-index: 10;
}

.confetti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 150%;
    width: 150%;
}

.cake {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}