* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #432f70;
    /* height: 100vh; */
    overflow: hidden;
}

.decoration {
    position: relative;
    height: 60vh;
    overflow-x: hidden;
}

.balloon{
    position: absolute;
    height: 50vh;
    width: 50vh;
    top: -2%;
    
}

.balloon-left {
    left: -45%;
    background-image: url("../resources/img/SVG/Asset\ 4.svg");
    background-size: 100%;
    background-position: top right;
    content: ".";
    background-repeat: no-repeat;
}

.balloon-right {
    right: -45%;
    background-image: url("../resources/img/SVG/Asset\ 6.svg");
    background-size: 100%;
    background-position: top left;
    content: ".";
    background-repeat: no-repeat;
}

.flag {
    position: absolute;
    height: 35vh;
    width: 35vh;
    top: 40%;
}

.flag-left {
    left: -10%;
    background-image: url("../resources/img/SVG/Asset\ 2.svg");
    background-size: 100%;
    content: ".";
    background-repeat: no-repeat;

}

.flag-right {
    right: -10%;
    background-image: url("../resources/img/SVG/Asset\ 5.svg");
    background-size: 100%;
    content: ".";
    background-repeat: no-repeat;

}