* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

html,
body {
    background-image:url("../resources/img/SVG/Asset\ 14.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200vw 200vw;
    color: #fff;
    font-family: 'Courgette', cursive;
}

p {
    font-size: 2.4rem;
}

.content {
    position: absolute;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

body::after {
    background-color: rgb(0, 0, 0);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.decoration {
    position: relative;
    height: 60vh;
    width: 100vw;
    overflow: hidden;
}

.balloon{
    position: absolute;
    height: 60vh;
    width: 90vw;
    top: -2%;
    
}

.balloon-left {
    left: -45%;
    background-image: url("../resources/img/SVG/Asset\ 4.svg");
    background-size: 100%;
    background-position: top right;
    content: ".";
    background-repeat: no-repeat;
    animation: balloon-move 4s linear 0s infinite;
}

.balloon-right {
    right: -45%;
    background-image: url("../resources/img/SVG/Asset\ 6.svg");
    background-size: 100%;
    background-position: top left;
    content: ".";
    background-repeat: no-repeat;
    animation: balloon-move 4s linear 0s infinite reverse;

}

.flag {
    position: absolute;
    height: 60vh;
    width: 65vw;
    top: 35%;
}

.flag-left {
    left: -10%;
    background-image: url("../resources/img/SVG/Asset\ 2.svg");
    background-size: 100%;
    content: ".";
    background-repeat: no-repeat;

}

.flag-right {
    right: -10%;
    background-image: url("../resources/img/SVG/Asset\ 5.svg");
    background-size: 100%;
    content: ".";
    background-repeat: no-repeat;

}

.frame {
    position: relative;
    width: 100vw;
    transform: translate(0 ,-40%);
    text-align: center;
    opacity: 0;
    display: none;
}

.img-back {
    position: relative;
    display: inline-block;
    background-color: #ffa8dc;
    height:50vw;
    width: 50vw;
    border-radius: 50%;
}

.bd-pic {
    position: absolute;
    height: 83.33333333%;
    width: 83.33333333%;
    border-color: #fff;
    border-style: dotted;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}

.cap {
    position: absolute;
    height: 33.33333333%;
    top: -15%;
    left: 50%; 
}

.confetti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 150%;
    width: 150%;
}

.cake {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}

.HBD-text {
    position: absolute; 
    display: inline-block;
    width: 65%;
    /* height: 100%; */
    top: 85%;
    left: 50%;
    transform: translate(-50%,60%);
}


.HBD {
    font-size: 2.4rem;
    padding: 0;
}

.name {
    font-size: 3.2rem;
    padding: 0;
}

.text-frame {
    position: relative;
    transform: translateY(30%);
    display: inline-block;
    overflow-y: hidden;
    height: 40vh;
    width:70vw
}

.text-frame p {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
}


.blackbox,
.whitebox,
.giftbox,
.empty-room {
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
} 

.blackbox {
    background-color: #000;
}

.whitebox {
    background-color: #fff;
}

.giftbox,
.empty-room {
    background-color: #141852
    ;
}

.switch,
.gift,
.door-in,
.door-out {
    position: absolute;
    display: none;
    height: 20vw;
    width: 20vw;
    top: 60%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: heart-beat 2s linear 0s infinite alternate;
}

.switch {
    background-image: url("../resources/img/SVG/Asset\ 10.svg");   
}

.gift {
    background-image: url("../resources/img/SVG/Asset\ 9.svg");
}

.door-in,
.door-out {
    background-image: url("../resources/img/SVG/Asset\ 12.svg");
}

.btn-ref {
    position: absolute;
    top:90%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color:#fff;
    display: none;
}

.btn-ref p {
    font-size: 1.8rem;
}

.bb-text,
.gift-text,
.hall-text,
.room-text {
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 80vw;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity:0;
    font-size: 3.2rem;
}

.hallway{
    overflow: hidden;
}

.hall{
    height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}


/* =======================Animation===================== */

.hidden {
    display: none;
}
.fade-in {
    animation: fade 2s ease-in 0s;
}

.appear {
    animation: fade 2s linear 0s 1 reverse;
}

.read {
    animation: read 4s linear 0s;
}

.move-up {
    animation: move-up 80s linear 3s;
}


@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes read {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100%  {
        opacity: 0;
    }
}

@keyframes heart-beat {
    0% {
        transform: translate(-50%,-50%) scale(1,1);
    }

    50% {
        transform: translate(-50%,-50%) scale(1.25,1.25);
    }

    100% {
        transform: translate(-50%,-50%) scale(1,1);
    }
}

@keyframes balloon-move {
    0% {
        transform: translateY(0) rotate(0);
    }
    25% {
        transform: translateY(5%) rotate(3deg);
    }
    50% {
        transform: translateY(0) rotate(0);
    }
    75% {
        transform: translateY(-5%) rotate(-3deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}



/*** Media Queries ***/
@media only screen and (max-width:330px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width:420px) {
    html {
        font-size: 11px;
    }

}

@media only screen and (min-width:480px) {
    html {
        font-size: 13px;
    }

}

@media only screen and (min-width:550px) {
    html {
        font-size: 15px;
    }

}

@media only screen and (min-width:640px) {
    html {
        font-size: 17px;
    }

}

