

p {
    font-size: 2.4rem;
}


.blackbox,
.whitebox,
.giftbox,
.empty-room {
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
} 

.blackbox {
    background-color: #000;
}

.whitebox {
    background-color: #fff;
}

.giftbox,
.empty-room {
    background-color: #141852
    ;
}

.switch,
.gift,
.door-in,
.door-out {
    position: absolute;
    display: none;
    height: 20vw;
    width: 20vw;
    top: 60%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: heart-beat 2s linear 0s infinite alternate;
}

.switch {
    background-image: url("../resources/img/SVG/Asset\ 10.svg");   
}

.gift {
    background-image: url("../resources/img/SVG/Asset\ 9.svg");
}

.door-in,
.door-out {
    background-image: url("../resources/img/SVG/Asset\ 12.svg");
}

.btn-ref {
    position: absolute;
    top:90%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color:#fff;
    display: none;
}

.btn-ref{
    font-size: 1.8rem;
}

.bb-text,
.gift-text,
.hall-text,
.room-text {
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 80vw;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity:0;
    font-size: 3.2rem;
}

.hallway{
    overflow: hidden;
}

.hall{
    height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}


/* =======================Animation===================== */








/*** Media Queries ***/
@media only screen and (max-width:330px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width:420px) {
    html {
        font-size: 11px;
    }

}

@media only screen and (min-width:480px) {
    html {
        font-size: 13px;
    }

}

@media only screen and (min-width:550px) {
    html {
        font-size: 15px;
    }

}

@media only screen and (min-width:640px) {
    html {
        font-size: 17px;
    }

}

