@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes read {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heart-beat {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25, 1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}
@keyframes balloon-move {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(5%) rotate(3deg);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(-5%) rotate(-3deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.hidden {
  display: none;
}

.fade-in {
  animation: fade 2s ease-in 0s;
}

.appear {
  animation: fade 2s linear 0s 1 reverse;
}

.read {
  animation: read 4s linear 0s;
}

.move-up {
  animation: move-up 80s linear 3s;
}

.content {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vh 70vh;
}
.content > * {
  width: 100%;
}

.frame {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Courgette", cursive;
  background-color: black;
}

.balloon {
  grid-row: 1/-1;
  width: 130%;
  z-index: 1;
}
.balloon--left {
  grid-column: 1/2;
  animation: balloon-move 4s linear 0s infinite;
}
.balloon--right {
  grid-column: 4/5;
  margin-left: -20%;
  animation: balloon-move 4s linear 0s infinite reverse;
}

.flag {
  grid-row: 1/2;
  z-index: 0;
}
.flag--c-left {
  grid-column: 2/3;
}
.flag--c-right {
  grid-column: 3/4;
}
.flag--left {
  grid-column: 1/2;
}
.flag--right {
  grid-column: 4/5;
}

.img-back {
  position: relative;
  background-color: #ffa8dc;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.bd-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 83.33333333%;
  width: 83.33333333%;
  border-color: #fff;
  border-style: dotted;
  border-radius: 50%;
}

.cap {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(0, 0);
  height: 33.33333333%;
  top: -15%;
}

.confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150%;
  width: 150%;
}

.cake {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
}

.HBD {
  font-size: 2.4rem;
  padding: 0;
}

.name {
  font-size: 3.2rem;
  padding: 0;
}

.scroll {
  position: relative;
  overflow-y: hidden;
  height: 70%;
  width: 70%;
}

.scroll p {
  position: absolute;
  top: 50%;
  transform: translateY(0%);
}

/*# sourceMappingURL=style.css.map */
