


/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 0.625rem;
  position: absolute;
  top: 70%;
  left: 50%;
  /* margin-left: -0.15rem;
  margin-top: -0.520833333125‬rem; */
  width: 1.5%;
  height: 12%;
  /* transform: translateY(-300px); */
  backface-visibility: hidden;
  /* animation: in 500ms 6s ease-out forwards; */
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -50%;
  left: 60%;
  /* transform: translate(50% 100%); */
  margin-left: -2.6px;
  width: 100%;
  height: 40%;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 250% 62.5% rgba(248, 233, 209, 0.2);
    transform: scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 250% 125% rgba(248, 233, 209, 0.2);
    transform: scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

