*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: 'Courgette', cursive;
    background-color: black;
}

.content{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 30vh 70vh;

    & > * {
        width: 100%;
    }
}