// DECORATIONS

.balloon{
    grid-row: 1 / -1;
    width: 130%;
    z-index: 1;
    
    &--left {
        grid-column: 1/2;
        animation: balloon-move 4s linear 0s infinite
    }

    &--right {
        grid-column: 4/5;
        margin-left: -20%;
        animation: balloon-move 4s linear 0s infinite reverse;
    }
}

.flag {
    grid-row: 1/2;
    z-index: 0;

    &--c-left {
        grid-column: 2/3;
    }

    &--c-right {
        grid-column: 3/4;
    }

    &--left{
        grid-column: 1/2;
    }

    &--right{
        grid-column: 4/5;
    }
}

// BIRTHDAY CARD

.img-back {
    position: relative;
    background-color: #ffa8dc;
    height:20rem;
    width: 20rem;
    border-radius: 50%;
}

.bd-pic {
    @include center;

    height: 83.33333333%;
    width: 83.33333333%;
    border-color: #fff;
    border-style: dotted;
    border-radius: 50%;
}

.cap {
    @include center(-15%,50%,0,0);

    height: 33.33333333%;
    top: -15%;
}

.confetti {
    @include center;

    height: 150%;
    width: 150%;
}

.cake {
    @include center(90%);
    height: 70%;
    width: 70%;
}


.HBD {
    font-size: 2.4rem;
    padding: 0;
}

.name {
    font-size: 3.2rem;
    padding: 0;
}

// SCROLL

.scroll {
    position: relative;
    overflow-y: hidden;
    height: 70%;
    width:70%
}

.scroll p {
    position: absolute;
    top: -10%;
}

