// DECORATIONS

.balloon{
    grid-row: 1 / -1;
    width: 130%;
    // z-index: 1;
    
    &--left {
        grid-column: 1/2;
        animation: balloon-move 4s linear 0s infinite
    }

    &--right {
        grid-column: 4/5;
        margin-left: -20%;
        animation: balloon-move 4s linear 0s infinite reverse;
    }
}

.flag {
    grid-row: 1/2;
    z-index: 0;

    &--c-left {
        grid-column: 2/3;
    }

    &--c-right {
        grid-column: 3/4;
    }

    &--left{
        grid-column: 1/2;
    }

    &--right{
        grid-column: 4/5;
    }
}

// BIRTHDAY CARD

.img-back {
    position: relative;
    background-color: #ffa8dc;
    height:20rem;
    width: 20rem;
    border-radius: 50%;
}

.bd-pic {
    @include position;

    height: 83.33333333%;
    width: 83.33333333%;
    border-color: #fff;
    border-style: dotted;
    border-radius: 50%;
}

.cap {
    @include position(-15%,50%,0,0);

    height: 33.33333333%;
}

.confetti {
    @include position;

    height: 150%;
    width: 150%;
}

.cake {
    @include position(90%);

    height: 70%;
    width: 70%;
}


.HBD {
    font-size: 2.4rem;
    padding: 0;
}

.name {
    font-size: 3.2rem;
    padding: 0;
}

// SCROLL

.scroll {
    position: relative;
    overflow-y: hidden;
    height: 70%;
    width:70%
}

.scroll p {
    @include position(50%,0,0,0);
}

// BUTTONS

.btn {
    @include position(60%,50%,0,-50%);

    display: none;
    overflow: hidden;
    height: 20vw;
    width: 20vw;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: heart-beat 2s linear 0s infinite alternate;
}

.btn-ref {
    @include position(90%,50%,-50%,0);

    text-align: center;
    
    color:#fff;
    display: none;
    font-size: 1.8rem;
}

.switch {
    background-image: url("../resources/img/bulb.svg");   
}

.gift {
    background-image: url("../resources/img/gift.svg");
}

.door-in,
.door-out {
    background-image: url("../resources/img/door.svg");
}

//ROOMS

.darkroom,
.flash,
.giftroom,
.empty-room,
.hallway {
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
} 

.darkroom {
    background-color: #000;
}

.flash {
    background-color: #fff;
}

.giftroom,
.empty-room {
    background-color: #141852;
}

.hallway{
    overflow: hidden;
}


